#root {
  display: flex;
  flex-direction: row;
  /* max-width: 1280px; */
  /* margin: auto auto; */
  /* height: 100vh; */
  /* margin: 0; */
  padding: 2rem;
  text-align: center;
  /* border: solid white; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}

.dashContainer{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  /* border: solid green; */
  width: 100%;
  height: 80%;
}

.metricsGrid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media(max-width: 480px){
  .dashContainer{
    display: flex;
    flex-direction: column;
  }
  .metricsGrid{
    display: flex;
    flex-direction: column;
  }
}