body{
  display: flex;
  flex-direction: column;
  background-color: hsl(226, 43%, 10%);
  /* padding: 20px; */
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.main {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}