.cardContainer{
    height: 480px;
    width: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-between;
    gap: 0;
    background-color: hsl(235, 46%, 20%);
    flex-grow: inherit;
}

.profile{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 65%;
    align-items: start;
    gap: 50px;
    padding: 25px;
    background-color: hsl(235, 45%, 61%);
    color: white;
    margin: 0;
}

.profilePic img{
    height: 100%;
    width: 100%;
}

.profilePic{
    border: solid white 3px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profileNames{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}

.profileNames p{
    margin: 0;
    padding: 0;
}

.names{
    font-size: 40px;
    font-weight: 100;
}

.intervals{
    padding: 0;
    margin: -5px;
    height: 30%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.values ul{
    list-style-type: none;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 25px;
    padding: auto  auto  auto 20px;
    gap: 12px;
}

.values ul li:hover{
        cursor: pointer;
}
.values ul li:hover{
        color: white;
}

@media(max-width: 480px){

    .cardContainer{
        height: 200px;
        width: 80vw;
    }

    .profile{
        display: flex;
        flex-direction: row;
        height: 50%;
    }

    .profilePic{
        height: 70px;
        width: 70px;
    }

    .names{
        font-size: 28px;
        font-weight: 100;
    }
    
    .values ul{
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 15px;
        gap: 40px;
    }

}