.cardContainer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 230px;
    height: 225px;
    /* padding: 5px 5px 0px 5px; */
}

.header{
    padding: 5px;
    margin: 0 0 -8px 0;
    /* background-color: red; */
    /* border: solid green 1px; */
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
    Font-size: 18px;
    font-weight: 500;
}

.topButton{
 background: none;      
  border: none;          
  padding: 0;            
  outline: none;  
  cursor: pointer
}

.info{
    border-radius: 10px;
    /* margin: 25px 0px 0px 0px; */
    margin: 0;
    padding: 10px;
    background-color: hsl(235, 46%, 20%);
    height: 80%;
}

.info:hover{
    background-color: hsl(235, 45%, 61%);
    cursor: pointer;
}

.metrics{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 25px;
    padding: 0;
}

.time{
    font-weight: 300;
    font-size: 60px;
    margin: 0;
    margin-bottom: 7px;
    padding-left: 5px;
}

.weekly{
    margin-top: 0;
    font-size: 12px;
    padding-top: 0;
    color: hsl(236, 100%, 87%);
}

@media (max-width: 480px){
    .cardContainer{
        width: 80vw;
        height: 150px;
    }
    .info{
        height: 65%;
    }

    .metrics{
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .time{
        font-size: 28px;
    }

    .heading{
        margin-top: 0;
        padding: 0;
        height: 50px;
    }
}